body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #E5E5E5; */
}

.card-check-icon-bg {
    background-color: rgba(82, 67, 194, 0.103693);
    color: #5243C2;
}

.btn-bg {
    background-color: #f496d239;
    color: #3F87F5;
}

/* fieldset {
    background: #FF4E4E;
    width: 50px;
    height: 25px;
    position: absolute;
    top: -10px;
    left: 265px;
} */
.hot-bg {
    background-color: #FF4E4E;
    font-size: 10px;
    padding: 5px;
    text-align: center;
}